QFrame#bgImg {
    border-image: url(:/image/img/main_background_TH.jpg);
}

QPushButton {
    border-image: url(:/image/buttons/2-0btn_14.png);
}

QLineEdit {
    background-color: rgba(203, 215, 223, 120);
}

QLabel {
    color: rgb(255, 0, 127);
}